<script src="~/js/test1js.js"></script>

<h1 class="text-center">Калькулятор написал Корельский на Javascript</h1>
<hr />
<br />
<br />
<br />

<div class="text-center" style="font-size:75px;">
    <script>
        //ShowAlert();
        //WriteDocument();
        SwitchCase();

    </script>
    
</div>
