<script src="~/js/airFightjs.js"></script>

<h1 class="text-center">AirFight</h1>
<hr />
<br />
<br />
<br />

<div class="text-center">
    <script>
        //ShowAlert();
        //WriteDocument();
        //SwitchCase();
        //AirFight();
        //Names();
        QuestionGame();
    </script>
</div>
