<div class="row">
    <p>Число: </p><p id="myNum">0</p>
</div>
<div class="row">
    <button onclick="myfunction()">Изменить число</button>
</div>

<hr />

<input type="text" placeholder="Имя*">
<input type="text" placeholder="Электронная почта*">
<input type="text" placeholder="Телефон*">
<input type="text" class="link" placeholder="Ссылка на профиль *">
<input type="text" class="amount" placeholder="Кол-во">
<div id="input0"></div>
<div class="add" onclick="addInput()">+</div>
<button class="sub-btn">Купить</button>



<hr />
<div class="container">
    <p>Напишите ваш комментарий:</p>
    <input type="text" id="myComment"/>
    <button onclick="addComment()">Добавить</button>
    <div id="comments">
        Комменты:
        <br />

    </div>
</div>


<script src="~/js/changeNumber.js"></script>